.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.python-version
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# VS Code
.vscode/

# Bytecode and caches
*.pyc
*.pyo
*.pyd

# Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs and databases
*.log
*.sqlite3
*.db
*.sqlite
